doctype html
html
	head
		title KankerMaker
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/jquery_ui.css')
		link(rel='stylesheet', href='/stylesheets/font.css')
		link(href="/stylesheets/sweetalert.css", rel='stylesheet')
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet", media="all")
		script(src="/javascripts/bundle.js")
		script(src='/javascripts/text2speech.js')
	body.is-loading
		block content
